body {
  overflow-x: hidden;
}

.c-text {
  font-family: "Source Sans Pro", -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #2c3e50;
}

.c-code {
  font-family: Roboto Mono, Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
  font-size: .8em;
}

.c-heading[id] a {
  font-size: 0.6em;
  vertical-align: middle;
}

@media (min-width: 42em) {
  body {
    font-size: 18px;
  }
}

section {
  margin-bottom: 5em;
}

/*
 * Page Header
 */

.header {
  text-align: center;
  padding-bottom: 2em;
  color: #fff;
}

.header .header__row {
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}

.header--primary {
  padding-top: 2em;
  color: #2c3e50;
}

.header--secondary {
  font-size: 0.9em;
  padding: 2em 0 4em;
  background-color: #42A5F5;
}

.header--tertiary {
  font-size: 0.9em;
  padding: 2em 0 4em;
  background-color: #2c3e50;
}

.header--white {
  color: inherit;
  background-color: #fff;
}

.logo .o-image {
  display: inline-block;
  width: 200px;
}

.product-name {
  font-size: 2.75em;
  font-weight: bold;
}

@media (min-width: 42em) {
  .product-name {
    font-size: 3.5em;
  }
}

/*
 * Page Content
 */
.page-header {
  border-bottom: 1px solid #eee;
}

.page-logo {
  width: 90px;
}

@media (min-width: 42em) {
  .page-logo {
    width: 120px;
  }
}

.main {
  padding-top: 2em;
  padding-bottom: 2em;
}

.view-code {
  margin-top: 2em;
}

.view-code .c-link {
  display: block;
  padding: 0.4em 0;
}